*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.btnClass{
    background-color: rgb(155, 155, 247);
    color: azure;
    border-radius: 5px;
    width: 7.6rem;
    height: 2.26rem;
}
.btnClass1{
  background-color: rgb(155, 155, 247);
  color: azure;
  border-radius: 5px;
  width: 11.2rem;
  height: 2.26rem;
}
.btnClass2{
  background-color: rgb(155, 155, 247);
  color: azure;
  border-radius: 5px;
  width: 11.2rem;
  height: 2.26rem;
}

.btnClass:hover, .btnClass1:hover, .btnClass2:hover{
    background-color: rgb(90, 90, 173);
}
/* .Parent{
    background-color: aqua;
    height: 47.5vw;
} */

.formDiv{
    margin-top: 4rem;
}

/* .navbar{
  position: fixed;
  height: 4rem;
}

/* input:checked + .navbar{
  background-color: rgb(155, 155, 247);
}  */

/*.container-fluid {
  position: fixed;
}  */

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8aa2f1;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.img1{
 width: 22rem;
 height: 20rem;
 margin-left: 18rem;
}
.img2{
  width: 17rem;
  height: 20rem;
  margin-top: 3rem;
}

.sticky-top {
  position: sticky;
}
